<div class="container-fluid">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h2 class="text-center mb-4 text-muted mt-3 p-2 d-inline-block rounded">LUGARES TURÍSTICOS DEL PERÚ</h2>
    </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let foto of fotos">
          <div class="card mb-4 box-shadow border border-3 border-black">
            <img class="card-img-top" [src]="foto.url" alt="Foto">
            <div class="card-body">
              <h5 class="card-title">{{ foto.titulo }}</h5>
              <p class="card-text mb-3">{{ foto.descripcion }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
