:host {
  display: block;
}
.card{
  height: 90%;
  transition: transform 0.3s, background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  background-color: #e4f0fa;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

